.drawer-menu-open {
  font-size: 3em;
  margin: 10px;
  cursor: pointer;
}
.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
header, footer {
  position: absolute;
  height: 3em;
}
header {
  top: 0;
  border-bottom: 1px solid gray;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
footer {
  bottom: 0;
  border-top: 1px solid gray;
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
  text-align: center;
}
.footer-text {
  font-size: .8em;
  color: gray;
  width: 100%;
  display: inline-block;
}

.portrait-only {
  display: none;
}

@media screen and (max-height: 414px) and (max-width: 736px) {
  .portrait-only {
    display: inline-block;
  }
}
